In [69]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/83/c5/3cf9cdc39a6f2552922f79915f36b45a95b71fd343cfc51170a5b6ddb6e8/geopandas-0.7.0-py2.py3-none-any.whl (928kB)
    100% |████████████████████████████████| 931kB 16.5MB/s ta 0:00:01
Collecting shapely (from geopandas)
  Downloading https://files.pythonhosted.org/packages/20/fa/c96d3461fda99ed8e82ff0b219ac2c8384694b4e640a611a1a8390ecd415/Shapely-1.7.0-cp36-cp36m-manylinux1_x86_64.whl (1.8MB)
    100% |████████████████████████████████| 1.8MB 17.2MB/s ta 0:00:01
Requirement already satisfied: pandas>=0.23.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from geopandas) (0.24.2)
Collecting fiona (from geopandas)
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
    100% |████████████████████████████████| 14.7MB 3.3MB/s eta 0:00:01
Collecting pyproj>=2.2.0 (from geopandas)
  Downloading https://files.pythonhosted.org/packages/cb/24/45dfe4a830b256a19dcd2774e74c23c1a573a999cf1664b3cb5f9cbf017b/pyproj-2.5.0-cp36-cp36m-manylinux1_x86_64.whl (10.4MB)
    100% |████████████████████████████████| 10.4MB 5.1MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2.7.3)
Requirement already satisfied: numpy>=1.12.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (1.14.3)
Requirement already satisfied: pytz>=2011k in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2018.4)
Collecting munch (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from fiona->geopandas) (6.7)
Collecting cligj>=0.5 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: six>=1.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from fiona->geopandas) (1.11.0)
Collecting click-plugins>=1.0 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from fiona->geopandas) (18.1.0)
Installing collected packages: shapely, munch, cligj, click-plugins, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.7.0 munch-2.5.0 pyproj-2.5.0 shapely-1.7.0
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [107]:
import pandas as pd
import geopandas as gpd
from glob import glob
import psycopg2

In [6]:
failure_files = glob('../data/Kes*.xlsx')
failure_files

['../data/Keskeytyslista_2014.xlsx',
 '../data/Keskeytyslista_2015.xlsx',
 '../data/Keskeytyslista_2013.xlsx',
 '../data/Keskeytyslista_2010.xlsx',
 '../data/Keskeytyslista_2012.xlsx',
 '../data/Keskeytyslista_2011.xlsx',
 '../data/Keskeytyslista_2009.xlsx',
 '../data/Keskeytyslista_2016.xlsx']

In [39]:
col_names = ['identifier', 'start', 'Kesto', 'Lähtö', 'type', 'source', 'desc', 'sijainti', 'rem']
dfs = []
for f in failure_files:
    df = pd.read_excel(f, skiprows=range(0,5), parse_dates=['start'], names=col_names)
    df['duration'] = pd.to_timedelta(df['Kesto'])
    df.loc[:,'end'] = df.loc[:,'start'] + df.loc[:, 'duration']
    df['desc'] = df.desc.fillna('')
    df = df[~df.desc.str.startswith('X14 R')]
    df.drop(columns=['Kesto', 'Lähtö', 'source', 'sijainti', 'rem'], inplace=True)
    dfs.append(df)
outage = pd.concat(dfs)
outage
#pd.to_timedelta(df['Kesto'])

,identifier,start,type,desc,duration,end
0,0-2014-23,2014-01-03 09:39:25,Keskijännitevika,X14 T Tuntematon,00:06:56,2014-01-03 09:46:21
1,0-2014-72,2014-01-07 10:58:09,Keskijännitevika,X14 L1 Tuuli ja myrsky,01:45:16,2014-01-07 12:43:25
2,0-2014-142,2014-01-08 02:18:17,Keskijännitevika,X14 L1 Tuuli ja myrsky,02:57:28,2014-01-08 05:15:45
3,0-2014-147,2014-01-08 09:06:26,Keskijännitevika,X14 L2 Lumi ja jää,00:01:01,2014-01-08 09:07:27
4,0-2014-148,2014-01-08 09:22:48,Keskijännitevika,X14 L1 Tuuli ja myrsky,01:01:57,2014-01-08 10:24:45
6,0-2014-157,2014-01-08 13:29:00,Keskijännitevika,X14 L1 Tuuli ja myrsky,00:09:00,2014-01-08 13:38:00
7,0-2014-169,2014-01-09 09:21:56,Keskijännitevika,X14 L1 Tuuli ja myrsky,00:12:55,2014-01-09 09:34:51
8,0-2014-173,2014-01-09 10:26:00,Keskijännitevika,X14 L1 Tuuli ja myrsky,00:07:00,2014-01-09 10:33:00
9,0-2014-174,2014-01-09 10:50:00,Keskijännitevika,X14 L1 Tuuli ja myrsky,00:10:09,2014-01-09 11:00:09
10,0-2014-189,2014-01-09 12:07:21,Keskijännitevika,X14 L1 Tuuli ja myrsky,00:10:39,2014-01-09 12:18:00
11,0-2014-182,2014-01-09 12:20:14,Keskijännitevika,X14 L1 Tuuli ja myrsky,03:07:47,2014-01-09 15:28:01
12,0-2014-221,2014-01-10 13:20:17,Keskijännitevika,X14 T Tuntematon,00:04:47,2014-01-10 13:25:04
13,0-2014-233,2014-01-10 15:55:23,Keskijännitevika,X14 L1 Tuuli ja myrsky,01:18:33,2014-01-10 17:13:56
14,0-2014-259,2014-01-14 08:49:08,Keskijännitevika,X14 T Tuntematon,00:22:57,2014-01-14 09:12:05
15,0-2014-319,2014-01-16 10:00:48,Keskijännitevika,X14 L1 Tuuli ja myrsky,00:34:53,2014-01-16 10:35:41
16,0-2014-349,2014-01-17 15:11:05,Keskijännitevika,X14 U1 Ulkopuoliset,00:18:02,2014-01-17 15:29:07
17,0-2014-352,2014-01-18 12:11:00,Keskijännitevika,X14 U1 Ulkopuoliset,00:21:55,2014-01-18 12:32:55
18,0-2014-353,2014-01-19 10:26:58,Keskijännitevika,X14 U1 Ulkopuoliset,00:19:05,2014-01-19 10:46:03
20,0-2014-421,2014-01-21 15:01:27,Keskijännitevika,X14 U1 Ulkopuoliset,00:01:44,2014-01-21 15:03:11
23,0-2014-529,2014-01-27 15:53:42,Keskijännitevika,X14 U1 Ulkopuoliset,00:01:05,2014-01-27 15:54:47
24,0-2014-575,2014-01-29 15:05:59,Keskijännitevika,X14 L2 Lumi ja jää,00:31:51,2014-01-29 15:37:50
25,0-2014-598,2014-01-30 15:05:36,Keskijännitevika,X14 U1 Ulkopuoliset,00:06:30,2014-01-30 15:12:06
0,0-2015-1,2015-01-01 06:30:20,Keskijännitevika,T1 Tuntematon,02:51:58,2015-01-01 09:22:18
1,0-2015-3,2015-01-01 10:28:36,Keskijännitevika,T1 Tuntematon,00:03:13,2015-01-01 10:31:49
2,0-2015-4,2015-01-01 10:59:58,Pienjännitevika,T1 Tuntematon,00:30:02,2015-01-01 11:30:00
3,0-2015-5,2015-01-01 11:19:23,Pienjännitevika,X14 Tuntematon,00:20:37,2015-01-01 11:40:00
4,0-2015-7,2015-01-01 17:44:57,Keskijännitevika,T1 Tuntematon,05:23:11,2015-01-01 23:08:08
5,0-2015-11,2015-01-02 17:35:45,Pienjännitevika,,02:54:15,2015-01-02 20:30:00
6,0-2015-38,2015-01-02 21:40:20,Keskijännitevika,L1 Tuuli ja myrsky,06:31:45,2015-01-03 04:12:05
7,0-2015-31,2015-01-02 22:06:00,Keskijännitevika,L1 Tuuli ja myrsky,03:56:27,2015-01-03 02:02:27
...,...,...,...,...,...,...
1951,0-2016-9019,2016-12-27 10:30:00,Keskijännitevika,,00:02:32,2016-12-27 10:32:32
1952,0-2016-9022,2016-12-27 11:42:45,Keskijännitevika,R1 Rakenneviat,02:02:15,2016-12-27 13:45:00
1953,0-2016-9023,2016-12-27 12:15:18,Keskijännitevika,R1 Rakenneviat,01:00:08,2016-12-27 13:15:26
1954,0-2016-9041,2016-12-27 21:26:00,Keskijännitevika,L1 Tuuli ja myrsky,01:42:49,2016-12-27 23:08:49
1955,0-2016-8962,2016-12-28 08:32:03,Työkeskeytys keskijännitteellä,,02:47:47,2016-12-28 11:19:50
1956,0-2016-8965,2016-12-28 09:02:03,Työkeskeytys keskijännitteellä,,00:50:04,2016-12-28 09:52:07
1957,0-2016-8983,2016-12-28 09:02:31,Työkeskeytys keskijännitteellä,,01:07:35,2016-12-28 10:10:06
1958,0-2016-8914,2016-12-28 09:29:32,Työkeskeytys keskijännitteellä,,02:56:23,2016-12-28 12:25:55
1959,0-2016-9048,2016-12-28 10:15:32,Keskijännitevika,R1 Rakenneviat,01:02:28,2016-12-28 11:18:00
1960,0-2016-9049,2016-12-28 10:41:22,Keskijännitevika,R1 Rakenneviat,00:58:38,2016-12-28 11:40:00
1961,0-2016-8943,2016-12-28 12:11:26,Työkeskeytys keskijännitteellä,,00:24:20,2016-12-28 12:35:46
1962,0-2016-8966,2016-12-28 12:31:34,Työkeskeytys keskijännitteellä,,00:43:53,2016-12-28 13:15:27
1963,0-2016-9052,2016-12-28 12:55:58,Keskijännitevika,R1 Rakenneviat,00:23:02,2016-12-28 13:19:00
1964,0-2016-9058,2016-12-28 13:32:00,Työkeskeytys keskijännitteellä,,00:53:00,2016-12-28 14:25:00
1965,0-2016-8958,2016-12-28 14:05:35,Työkeskeytys keskijännitteellä,,00:39:34,2016-12-28 14:45:09
1966,0-2016-8987,2016-12-29 08:59:35,Työkeskeytys keskijännitteellä,,00:37:15,2016-12-29 09:36:50
1967,0-2016-8971,2016-12-29 09:02:17,Työkeskeytys keskijännitteellä,,04:28:03,2016-12-29 13:30:20
1968,0-2016-9061,2016-12-29 09:43:24,Keskijännitevika,R1 Rakenneviat,00:00:00,2016-12-29 09:43:24
1969,0-2016-9062,2016-12-29 09:48:42,Keskijännitevika,R1 Rakenneviat,00:30:47,2016-12-29 10:19:29
1970,0-2016-9065,2016-12-29 12:25:13,Keskijännitevika,R1 Rakenneviat,00:36:22,2016-12-29 13:01:35
1971,0-2016-8967,2016-12-29 12:31:26,Työkeskeytys keskijännitteellä,,00:07:51,2016-12-29 12:39:17
1972,0-2016-9067,2016-12-29 13:17:37,Keskijännitevika,R1 Rakenneviat,00:32:57,2016-12-29 13:50:34
1973,0-2016-8981,2016-12-29 14:33:40,Työkeskeytys keskijännitteellä,,01:29:10,2016-12-29 16:02:50
1974,0-2016-8997,2016-12-30 07:03:15,Työkeskeytys keskijännitteellä,,00:36:17,2016-12-30 07:39:32
1975,0-2016-9069,2016-12-30 09:07:01,Keskijännitevika,T1 Tuntematon,00:13:18,2016-12-30 09:20:19
1976,0-2016-9070,2016-12-30 09:35:52,Keskijännitevika,R1 Rakenneviat,00:45:08,2016-12-30 10:21:00
1977,0-2016-9071,2016-12-30 10:14:29,Keskijännitevika,R1 Rakenneviat,00:51:20,2016-12-30 11:05:49
1978,0-2016-9073,2016-12-30 12:26:30,Keskijännitevika,R1 Rakenneviat,00:43:30,2016-12-30 13:10:00
1979,0-2016-9074,2016-12-30 12:33:40,Keskijännitevika,R1 Rakenneviat,00:32:25,2016-12-30 13:06:05
1980,0-2016-9083,2016-12-31 12:35:30,Keskijännitevika,L1 Tuuli ja myrsky,01:13:17,2016-12-31 13:48:47

In [40]:
station_files = glob('../data/Vik*.xlsx')
station_files

['../data/Vikapaikat_2009.xlsx',
 '../data/Vikapaikat_2011.xlsx',
 '../data/Vikapaikat_2012.xlsx',
 '../data/Vikapaikat_2015.xlsx',
 '../data/Vikapaikat_2010.xlsx',
 '../data/Vikapaikat_2014.xlsx',
 '../data/Vikapaikat_2016.xlsx',
 '../data/Vikapaikat_2013.xlsx']

In [51]:
col_names = ['outage_identifier', 'time', 'lng', 'lat', '_', '__', '___', '____', '_____', '.']
dfss = []
for f in station_files:
    df = pd.read_excel(f, skiprows=range(0,6), names=col_names)
    df.drop(columns=['time', '_', '__', '___', '____', '_____', '.'], inplace=True)
    df['code'] = -1
    df['area'] = ''
    df['customers'] = -1
    dfss.append(df)
station = pd.concat(dfss)
station

    outage_identifier        lng        lat  code area  customers
0         0-2009-3947  606456243  854025595    -1              -1
1         0-2009-1440  559922846  875577656    -1              -1
2         0-2009-3951  531506736  854257425    -1              -1
3          0-2009-862  444854236  872908184    -1              -1
4         0-2009-3642  464722912  875391736    -1              -1
5          0-2009-136  521588893  826265797    -1              -1
6          0-2009-644  437458157  860306535    -1              -1
7         0-2009-1798  457593932  850913461    -1              -1
8          0-2009-164  477802980  846482251    -1              -1
9         0-2009-4556  531535448  888826785    -1              -1
10        0-2009-4555  545335325  866964390    -1              -1
11        0-2009-1870  554695086  899188902    -1              -1
12        0-2009-3071  550178293  854733055    -1              -1
13         0-2009-859  522270684  890212149    -1              -1
14        0-2009-2149  472312429  783634214    -1              -1
15        0-2009-3011  483501865  826424397    -1              -1
16         0-2009-645  513026284  869296328    -1              -1
17        0-2009-2533  431602965  871164041    -1              -1
18        0-2009-3940  555846252  852950274    -1              -1
19        0-2009-3946  606512413  888178795    -1              -1
20        0-2009-5255  474485304  781238569    -1              -1
21        0-2009-1869  525579850  845575210    -1              -1
22        0-2009-1911  610857689  849683364    -1              -1
23        0-2009-3927  469031591  912272564    -1              -1
24        0-2009-3942  555180923  854969552    -1              -1
25        0-2009-2534  430521976  871679335    -1              -1
26        0-2009-1266  457069737  900355528    -1              -1
27        0-2009-5250  453068762  808905518    -1              -1
28        0-2009-3604  494225876  812679910    -1              -1
29        0-2009-1890  535265597  865840340    -1              -1
..                ...        ...        ...   ...  ...        ...
277       0-2013-4136  456423834  852605416    -1              -1
278       0-2013-4136  456439562  854251009    -1              -1
279       0-2013-4283  547239991  819048558    -1              -1
280       0-2013-4283  547239991  819048558    -1              -1
281       0-2013-7858  562920805  879915454    -1              -1
282       0-2013-7858  562920805  879915454    -1              -1
283       0-2013-2289  535977081  818144251    -1              -1
284       0-2013-2289  535977081  818144251    -1              -1
285       0-2013-1221  524091570  819249380    -1              -1
286       0-2013-1221  524091570  819249380    -1              -1
287       0-2013-7796  466371747  889242753    -1              -1
288       0-2013-2601  464041026  889053030    -1              -1
289       0-2013-2601  464041026  889053030    -1              -1
290       0-2013-7702  438097502  884753253    -1              -1
291       0-2013-7702  438097502  884753253    -1              -1
292        0-2013-744  578129536  847227814    -1              -1
293        0-2013-744  578129536  847227814    -1              -1
294         0-2013-91  584898601  858159450    -1              -1
295         0-2013-91  584898601  858159450    -1              -1
296       0-2013-6359  487444520  842232473    -1              -1
297       0-2013-7804  573370440  883525340    -1              -1
298       0-2013-7804  573370440  883525340    -1              -1
299        0-2013-599  484792170  832239606    -1              -1
300        0-2013-599  484792170  832239606    -1              -1
301       0-2013-1119  573752380  859770224    -1              -1
302       0-2013-1119  573752380  859770224    -1              -1
303       0-2013-1114  475755502  794346070    -1              -1
304       0-2013-1114  475755502  794346070    -1              -1
305       0-2013-9082  483123479  872686120    -1              -1
306       0-2013-9082  483123479  872686120    -1              -1

[2860 rows x 6 columns]

In [62]:
j = outage.merge(station, left_on='identifier', right_on='outage_identifier')
outage_w_loc = j.loc[:,['identifier', 'start', 'end', 'desc', 'type']]
station_w_loc = j.loc[:, ['outage_identifier', 'lng', 'lat', 'code', 'area', 'customers']]

In [67]:
print(outage_w_loc.head())
print(station_w_loc.head())

  identifier               start                 end                desc  \
0   0-2015-7 2015-01-01 17:44:57 2015-01-01 23:08:08       T1 Tuntematon
1   0-2015-7 2015-01-01 17:44:57 2015-01-01 23:08:08       T1 Tuntematon
2  0-2015-23 2015-01-02 23:35:27 2015-01-03 02:42:53  L1 Tuuli ja myrsky
3  0-2015-23 2015-01-02 23:35:27 2015-01-03 02:42:53  L1 Tuuli ja myrsky
4  0-2015-26 2015-01-03 00:16:18 2015-01-03 04:30:08  L1 Tuuli ja myrsky

               type
0  Keskijännitevika
1  Keskijännitevika
2  Keskijännitevika
3  Keskijännitevika
4  Keskijännitevika
  outage_identifier        lng        lat  code area  customers
0          0-2015-7  588372759  838315608    -1              -1
1          0-2015-7  588372759  838315608    -1              -1
2         0-2015-23  482687102  821483099    -1              -1
3         0-2015-23  482687102  821483099    -1              -1
4         0-2015-26  487182290  793813673    -1              -1

In [82]:
def lng(row): 
    lng = 3000000+row.lng/1000
    return lng
def lat(row): 
    lat = 6000000+row.lat/1000
    return lat

station_w_loc['lng'] = station_w_loc.apply(lambda row: lng(row), axis=1)
station_w_loc['lat'] = station_w_loc.apply(lambda row: lat(row), axis=1)
station_w_loc

,outage_identifier,lng,lat,code,area,customers,geometry
0,0-2015-7,3588372.759,6838315.608,-1,,-1,POINT (588372759.000 838315608.000)
1,0-2015-7,3588372.759,6838315.608,-1,,-1,POINT (588372759.000 838315608.000)
2,0-2015-23,3482687.102,6821483.099,-1,,-1,POINT (482687102.000 821483099.000)
3,0-2015-23,3482687.102,6821483.099,-1,,-1,POINT (482687102.000 821483099.000)
4,0-2015-26,3487182.290,6793813.673,-1,,-1,POINT (487182290.000 793813673.000)
5,0-2015-26,3487182.290,6793813.673,-1,,-1,POINT (487182290.000 793813673.000)
6,0-2015-103,3482899.509,6896683.388,-1,,-1,POINT (482899509.000 896683388.000)
7,0-2015-103,3482899.509,6896683.388,-1,,-1,POINT (482899509.000 896683388.000)
8,0-2015-111,3497521.539,6854034.445,-1,,-1,POINT (497521539.000 854034445.000)
9,0-2015-114,3473627.987,6891595.010,-1,,-1,POINT (473627987.000 891595010.000)
10,0-2015-114,3473627.987,6891595.010,-1,,-1,POINT (473627987.000 891595010.000)
11,0-2015-115,3483225.159,6896422.242,-1,,-1,POINT (483225159.000 896422242.000)
12,0-2015-115,3483225.159,6896422.242,-1,,-1,POINT (483225159.000 896422242.000)
13,0-2015-124,3591683.511,6846317.425,-1,,-1,POINT (591683511.000 846317425.000)
14,0-2015-124,3591683.511,6846317.425,-1,,-1,POINT (591683511.000 846317425.000)
15,0-2015-437,3480228.191,6890882.602,-1,,-1,POINT (480228191.000 890882602.000)
16,0-2015-438,3472413.569,6902573.943,-1,,-1,POINT (472413569.000 902573943.000)
17,0-2015-445,3532267.503,6888325.738,-1,,-1,POINT (532267503.000 888325738.000)
18,0-2015-446,3511623.532,6854782.241,-1,,-1,POINT (511623532.000 854782241.000)
19,0-2015-451,3503231.823,6888577.586,-1,,-1,POINT (503231823.000 888577586.000)
20,0-2015-531,3506528.189,6880972.485,-1,,-1,POINT (506528189.000 880972485.000)
21,0-2015-524,3473758.358,6898698.539,-1,,-1,POINT (473758358.000 898698539.000)
22,0-2015-527,3591210.392,6900839.691,-1,,-1,POINT (591210392.000 900839691.000)
23,0-2015-528,3474283.080,6866693.900,-1,,-1,POINT (474283080.000 866693900.000)
24,0-2015-544,3490779.480,6881629.790,-1,,-1,POINT (490779480.000 881629790.000)
25,0-2015-558,3545869.990,6824297.408,-1,,-1,POINT (545869990.000 824297408.000)
26,0-2015-568,3611135.466,6864284.270,-1,,-1,POINT (611135466.000 864284270.000)
27,0-2015-571,3552953.960,6853993.066,-1,,-1,POINT (552953960.000 853993066.000)
28,0-2015-591,3517356.288,6849454.136,-1,,-1,POINT (517356288.000 849454136.000)
29,0-2015-591,3517356.288,6849454.136,-1,,-1,POINT (517356288.000 849454136.000)
...,...,...,...,...,...,...,...
2296,0-2016-8706,3499486.740,6860839.440,-1,,-1,POINT (499486740.000 860839440.000)
2297,0-2016-8706,3504251.054,6849294.762,-1,,-1,POINT (504251054.000 849294762.000)
2298,0-2016-8706,3499486.740,6860839.440,-1,,-1,POINT (499486740.000 860839440.000)
2299,0-2016-8706,3504251.054,6849294.762,-1,,-1,POINT (504251054.000 849294762.000)
2300,0-2016-8708,3519088.644,6836718.097,-1,,-1,POINT (519088644.000 836718097.000)
2301,0-2016-8708,3519088.644,6836718.097,-1,,-1,POINT (519088644.000 836718097.000)
2302,0-2016-8721,3507826.500,6818050.026,-1,,-1,POINT (507826500.000 818050026.000)
2303,0-2016-8714,3528312.922,6812858.269,-1,,-1,POINT (528312922.000 812858269.000)
2304,0-2016-8714,3528312.922,6812858.269,-1,,-1,POINT (528312922.000 812858269.000)
2305,0-2016-8727,3561250.750,6866372.260,-1,,-1,POINT (561250750.000 866372260.000)
2306,0-2016-8727,3561250.750,6866372.260,-1,,-1,POINT (561250750.000 866372260.000)
2307,0-2016-8765,3526021.787,6892426.818,-1,,-1,POINT (526021787.000 892426818.000)
2308,0-2016-8787,3598638.959,6889694.986,-1,,-1,POINT (598638959.000 889694986.000)
2309,0-2016-8787,3598638.959,6889694.986,-1,,-1,POINT (598638959.000 889694986.000)
2310,0-2016-8810,3596988.475,6877081.191,-1,,-1,POINT (596988475.000 877081191.000)
2311,0-2016-8810,3596988.475,6877081.191,-1,,-1,POINT (596988475.000 877081191.000)
2312,0-2016-8818,3505880.851,6790099.380,-1,,-1,POINT (505880851.000 790099380.000)
2313,0-2016-8818,3505880.851,6790099.380,-1,,-1,POINT (505880851.000 790099380.000)
2314,0-2016-8939,3614933.413,6915700.293,-1,,-1,POINT (614933413.000 915700293.000)
2315,0-2016-8939,3614933.413,6915700.293,-1,,-1,POINT (614933413.000 915700293.000)
2316,0-2016-8949,3617060.904,6912667.113,-1,,-1,POINT (617060904.000 912667113.000)
2317,0-2016-8949,3617060.904,6912667.113,-1,,-1,POINT (617060904.000 912667113.000)
2318,0-2016-8998,3609588.622,6902852.830,-1,,-1,POINT (609588622.000 902852830.000)
2319,0-2016-9009,3503479.977,6845116.230,-1,,-1,POINT (503479977.000 845116230.000)
2320,0-2016-9009,3503479.977,6845116.230,-1,,-1,POINT (503479977.000 845116230.000)
2321,0-2016-9014,3450755.060,6878549.481,-1,,-1,POINT (450755060.000 878549481.000)
2322,0-2016-9014,3450755.060,6878549.481,-1,,-1,POINT (450755060.000 878549481.000)
2323,0-2016-9069,3572324.875,6816475.224,-1,,-1,POINT (572324875.000 816475224.000)
2324,0-2016-9083,3466348.430,6908865.349,-1,,-1,POINT (466348430.000 908865349.000)
2325,0-2016-9083,3466348.430,6908865.349,-1,,-1,POINT (466348430.000 908865349.000)

In [92]:
station_w_loc_ = gpd.GeoDataFrame(station_w_loc, 
                                  geometry=gpd.points_from_xy(station_w_loc.lng, station_w_loc.lat),
                                  crs="EPSG:2393").to_crs('EPSG:4326')
station_w_loc_

,outage_identifier,lng,lat,code,area,customers,geometry
0,0-2015-7,3588372.759,6838315.608,-1,,-1,POINT (28.66395 61.64220)
1,0-2015-7,3588372.759,6838315.608,-1,,-1,POINT (28.66395 61.64220)
2,0-2015-23,3482687.102,6821483.099,-1,,-1,POINT (26.67170 61.50087)
3,0-2015-23,3482687.102,6821483.099,-1,,-1,POINT (26.67170 61.50087)
4,0-2015-26,3487182.290,6793813.673,-1,,-1,POINT (26.75804 61.25275)
5,0-2015-26,3487182.290,6793813.673,-1,,-1,POINT (26.75804 61.25275)
6,0-2015-103,3482899.509,6896683.388,-1,,-1,POINT (26.66848 62.17565)
7,0-2015-103,3482899.509,6896683.388,-1,,-1,POINT (26.66848 62.17565)
8,0-2015-111,3497521.539,6854034.445,-1,,-1,POINT (26.94979 61.79335)
9,0-2015-114,3473627.987,6891595.010,-1,,-1,POINT (26.49128 62.12946)
10,0-2015-114,3473627.987,6891595.010,-1,,-1,POINT (26.49128 62.12946)
11,0-2015-115,3483225.159,6896422.242,-1,,-1,POINT (26.67475 62.17333)
12,0-2015-115,3483225.159,6896422.242,-1,,-1,POINT (26.67475 62.17333)
13,0-2015-124,3591683.511,6846317.425,-1,,-1,POINT (28.73039 61.71320)
14,0-2015-124,3591683.511,6846317.425,-1,,-1,POINT (28.73039 61.71320)
15,0-2015-437,3480228.191,6890882.602,-1,,-1,POINT (26.61786 62.12347)
16,0-2015-438,3472413.569,6902573.943,-1,,-1,POINT (26.46628 62.22788)
17,0-2015-445,3532267.503,6888325.738,-1,,-1,POINT (27.61457 62.09970)
18,0-2015-446,3511623.532,6854782.241,-1,,-1,POINT (27.21716 61.79990)
19,0-2015-451,3503231.823,6888577.586,-1,,-1,POINT (27.05862 62.10331)
20,0-2015-531,3506528.189,6880972.485,-1,,-1,POINT (27.12147 62.03503)
21,0-2015-524,3473758.358,6898698.539,-1,,-1,POINT (26.49272 62.19320)
22,0-2015-527,3591210.392,6900839.691,-1,,-1,POINT (28.74922 62.20232)
23,0-2015-528,3474283.080,6866693.900,-1,,-1,POINT (26.50746 61.90608)
24,0-2015-544,3490779.480,6881629.790,-1,,-1,POINT (26.82054 62.04086)
25,0-2015-558,3545869.990,6824297.408,-1,,-1,POINT (27.85880 61.52382)
26,0-2015-568,3611135.466,6864284.270,-1,,-1,POINT (29.10895 61.86918)
27,0-2015-571,3552953.960,6853993.066,-1,,-1,POINT (28.00048 61.78935)
28,0-2015-591,3517356.288,6849454.136,-1,,-1,POINT (27.32534 61.75188)
29,0-2015-591,3517356.288,6849454.136,-1,,-1,POINT (27.32534 61.75188)
...,...,...,...,...,...,...,...
2296,0-2016-8706,3499486.740,6860839.440,-1,,-1,POINT (26.98702 61.85443)
2297,0-2016-8706,3504251.054,6849294.762,-1,,-1,POINT (27.07725 61.75081)
2298,0-2016-8706,3499486.740,6860839.440,-1,,-1,POINT (26.98702 61.85443)
2299,0-2016-8706,3504251.054,6849294.762,-1,,-1,POINT (27.07725 61.75081)
2300,0-2016-8708,3519088.644,6836718.097,-1,,-1,POINT (27.35682 61.63751)
2301,0-2016-8708,3519088.644,6836718.097,-1,,-1,POINT (27.35682 61.63751)
2302,0-2016-8721,3507826.500,6818050.026,-1,,-1,POINT (27.14363 61.47038)
2303,0-2016-8714,3528312.922,6812858.269,-1,,-1,POINT (27.52715 61.42285)
2304,0-2016-8714,3528312.922,6812858.269,-1,,-1,POINT (27.52715 61.42285)
2305,0-2016-8727,3561250.750,6866372.260,-1,,-1,POINT (28.16190 61.89917)
2306,0-2016-8727,3561250.750,6866372.260,-1,,-1,POINT (28.16190 61.89917)
2307,0-2016-8765,3526021.787,6892426.818,-1,,-1,POINT (27.49559 62.13697)
2308,0-2016-8787,3598638.959,6889694.986,-1,,-1,POINT (28.88563 62.10050)
2309,0-2016-8787,3598638.959,6889694.986,-1,,-1,POINT (28.88563 62.10050)
2310,0-2016-8810,3596988.475,6877081.191,-1,,-1,POINT (28.84717 61.98780)
2311,0-2016-8810,3596988.475,6877081.191,-1,,-1,POINT (28.84717 61.98780)
2312,0-2016-8818,3505880.851,6790099.380,-1,,-1,POINT (27.10628 61.21959)
2313,0-2016-8818,3505880.851,6790099.380,-1,,-1,POINT (27.10628 61.21959)
2314,0-2016-8939,3614933.413,6915700.293,-1,,-1,POINT (29.21443 62.32906)
2315,0-2016-8939,3614933.413,6915700.293,-1,,-1,POINT (29.21443 62.32906)
2316,0-2016-8949,3617060.904,6912667.113,-1,,-1,POINT (29.25341 62.30121)
2317,0-2016-8949,3617060.904,6912667.113,-1,,-1,POINT (29.25341 62.30121)
2318,0-2016-8998,3609588.622,6902852.830,-1,,-1,POINT (29.10333 62.21547)
2319,0-2016-9009,3503479.977,6845116.230,-1,,-1,POINT (27.06258 61.71332)
2320,0-2016-9009,3503479.977,6845116.230,-1,,-1,POINT (27.06258 61.71332)
2321,0-2016-9014,3450755.060,6878549.481,-1,,-1,POINT (26.05659 62.01011)
2322,0-2016-9014,3450755.060,6878549.481,-1,,-1,POINT (26.05659 62.01011)
2323,0-2016-9069,3572324.875,6816475.224,-1,,-1,POINT (28.35277 61.44962)
2324,0-2016-9083,3466348.430,6908865.349,-1,,-1,POINT (26.34844 62.28383)
2325,0-2016-9083,3466348.430,6908865.349,-1,,-1,POINT (26.34844 62.28383)

In [86]:
!conda install geoplot -c conda-forge
import geoplot

Solving environment: - ^C
failed

CondaError: KeyboardInterrupt

ModuleNotFoundError: No module named 'geoplot'

In [ ]:
finland = world.query('country == "Finland"')
ax = geoplot.cartogram(
    finland, scale='pop_est', limits=(0.2, 1),
    edgecolor='None', figsize=(7, 8)
)
geoplot.polyplot(finland, edgecolor='gray', ax=ax)

In [102]:
station_ = station_w_loc_.loc[:,['outage_identifier','code','area','customers']]
def p_to_lng(row):
    return row.geometry.coords[0][0]
def p_to_lat(row):
    return row.geometry.coords[0][1]

station_['lng'] = station_w_loc_.apply(lambda row: p_to_lng(row), axis=1)
station_['lat'] = station_w_loc_.apply(lambda row: p_to_lat(row), axis=1)
station_

     outage_identifier  code area  customers        lng        lat
0             0-2015-7    -1              -1  28.663955  61.642201
1             0-2015-7    -1              -1  28.663955  61.642201
2            0-2015-23    -1              -1  26.671700  61.500870
3            0-2015-23    -1              -1  26.671700  61.500870
4            0-2015-26    -1              -1  26.758038  61.252750
5            0-2015-26    -1              -1  26.758038  61.252750
6           0-2015-103    -1              -1  26.668479  62.175655
7           0-2015-103    -1              -1  26.668479  62.175655
8           0-2015-111    -1              -1  26.949789  61.793354
9           0-2015-114    -1              -1  26.491284  62.129459
10          0-2015-114    -1              -1  26.491284  62.129459
11          0-2015-115    -1              -1  26.674755  62.173326
12          0-2015-115    -1              -1  26.674755  62.173326
13          0-2015-124    -1              -1  28.730392  61.713199
14          0-2015-124    -1              -1  28.730392  61.713199
15          0-2015-437    -1              -1  26.617861  62.123474
16          0-2015-438    -1              -1  26.466275  62.227878
17          0-2015-445    -1              -1  27.614573  62.099696
18          0-2015-446    -1              -1  27.217157  61.799902
19          0-2015-451    -1              -1  27.058623  62.103308
20          0-2015-531    -1              -1  27.121474  62.035027
21          0-2015-524    -1              -1  26.492716  62.193204
22          0-2015-527    -1              -1  28.749219  62.202317
23          0-2015-528    -1              -1  26.507464  61.906077
24          0-2015-544    -1              -1  26.820537  62.040861
25          0-2015-558    -1              -1  27.858805  61.523820
26          0-2015-568    -1              -1  29.108948  61.869178
27          0-2015-571    -1              -1  28.000480  61.789350
28          0-2015-591    -1              -1  27.325345  61.751878
29          0-2015-591    -1              -1  27.325345  61.751878
...                ...   ...  ...        ...        ...        ...
2296       0-2016-8706    -1              -1  26.987015  61.854425
2297       0-2016-8706    -1              -1  27.077249  61.750811
2298       0-2016-8706    -1              -1  26.987015  61.854425
2299       0-2016-8706    -1              -1  27.077249  61.750811
2300       0-2016-8708    -1              -1  27.356818  61.637513
2301       0-2016-8708    -1              -1  27.356818  61.637513
2302       0-2016-8721    -1              -1  27.143631  61.470383
2303       0-2016-8714    -1              -1  27.527152  61.422850
2304       0-2016-8714    -1              -1  27.527152  61.422850
2305       0-2016-8727    -1              -1  28.161898  61.899172
2306       0-2016-8727    -1              -1  28.161898  61.899172
2307       0-2016-8765    -1              -1  27.495590  62.136973
2308       0-2016-8787    -1              -1  28.885632  62.100499
2309       0-2016-8787    -1              -1  28.885632  62.100499
2310       0-2016-8810    -1              -1  28.847170  61.987803
2311       0-2016-8810    -1              -1  28.847170  61.987803
2312       0-2016-8818    -1              -1  27.106280  61.219593
2313       0-2016-8818    -1              -1  27.106280  61.219593
2314       0-2016-8939    -1              -1  29.214428  62.329061
2315       0-2016-8939    -1              -1  29.214428  62.329061
2316       0-2016-8949    -1              -1  29.253405  62.301208
2317       0-2016-8949    -1              -1  29.253405  62.301208
2318       0-2016-8998    -1              -1  29.103330  62.215467
2319       0-2016-9009    -1              -1  27.062577  61.713323
2320       0-2016-9009    -1              -1  27.062577  61.713323
2321       0-2016-9014    -1              -1  26.056592  62.010114
2322       0-2016-9014    -1              -1  26.056592  62.010114
2323       0-2016-9069    -1              -1  28.352771  61.449615
2324       0-2016-9083    -1              -1  26.348442  62.283828
2325       0-2016-9083    -1              -1  26.348442  62.283828

[2326 rows x 6 columns]

We need to load old data to remove duplicate entries

In [116]:
def load_dataset(table_name='classification_dataset', cols=[]):
    """
    Load classification dataset from db
    
    table_name : str
                 table name to be used
    """

    conn = psycopg2.connect("dbname='%s' user='%s' host='%s' password='%s'" % (db_name, db_user, db_host, db_pass))
    sql = """SELECT "{}" FROM sasse.{}""".format('","'.join(cols), table_name)

    cursor = conn.cursor()
    cursor.execute(sql)
    results = cursor.fetchall()
    df = pd.DataFrame(results, columns=cols)

    return df 

old_station = load_dataset(table_name='station', cols=['outage_identifier'])
old_outage = load_dataset(table_name='outage', cols=['identifier'])

In [132]:
outage_to_save = outage_w_loc[~outage_w_loc.identifier.isin(old_outage.loc[:,'identifier'])]
station_to_save = station_[~station_.outage_identifier.isin(old_station.loc[:,'outage_identifier'])]
outage_to_save.drop_duplicates(subset=['identifier'], inplace=True)
station_to_save.drop_duplicates(subset=['outage_identifier'], inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [133]:
print(old_outage[old_outage.loc[:,'identifier'] == '0-2015-7'])
print(outage_to_save[outage_to_save.loc[:,'identifier'] == '0-2015-7'])

Empty DataFrame
Columns: [identifier]
Index: []
  identifier               start                 end           desc  \
0   0-2015-7 2015-01-01 17:44:57 2015-01-01 23:08:08  T1 Tuntematon

               type
0  Keskijännitevika

In [134]:
from sqlalchemy import create_engine
db_host = '***REMOVED***'
db_port = 5432
db_name = "postgres"
db_user = "***REMOVED***"
db_pass = "***REMOVED***"
def save_dataset(df, table_name='outage'):
    """
    Save dataset into the db

    df : DataFrame
         DataFrame data
    """
    if df is None or len(df) < 1:
        return
    print('Storing classification set to db sasse.{}...'.format(table_name))

    # db_name, db_user, db_host, db_pass
    engine = create_engine('postgresql://{user}:{passwd}@{host}:5432/{db}'.format(user=db_user,
                                                                                 passwd=db_pass,
                                                                                 host=db_host,
                                                                                 db=db_name))

    df.to_sql(table_name, engine, schema='sasse', if_exists='append', index=False)

save_dataset(outage_to_save, table_name='outage')
save_dataset(station_to_save, table_name='station')

Storing classification set to db sasse.outage...
Storing classification set to db sasse.station...